<div class="wedding-container">

    <!-- Banner -->
    <section class="banner">
        <div class="w-full h-full flex items-center justify-center">
            <div class="flex flex-col gap-2 bg-[rgba(0,0,0,0.4)] p-4 rounded-lg text-center">
                <span class="text-[34px] font-bold">WEDDING DAY</span>
                <div class="flex flex-col items-center justify-center">
                    <!-- line height just 14px -->
                    <span class="md:text-[24px] text-[18px]">Phương Vi</span>
                    <span class="md:text-[20px] text-[14px] leading-[12px]">&</span>
                    <span class="md:text-[24px] text-[18px]">Trung Nguyên</span>
                </div>
                <span class="md:text-[28px] text-[20px]">02/08/2025</span>
            </div>
        </div>

    </section>

    <!-- Invitation -->
    <section class="invitation">
        <h2>WEDDING INVITATION</h2>
        <p>Мы давно ждали момента, когда вместе с вами сможем разделить самый важный и счастливый день в нашей жизни —
            день
            нашей свадьбы!</p>
    </section>

    <!-- Dress Code -->
    <section class="dress-code">
        <h3>DRESS CODE</h3>
        <p>Наш день особенно приятно будет смотреться в нарядах, выдержанных в палитре нашей свадьбы:</p>
        <div class="color-palette">
            <span class="color color-1"></span>
            <span class="color color-2"></span>
            <span class="color color-3"></span>
            <span class="color color-4"></span>
            <span class="color color-5"></span>
        </div>
        <p>Для мужчин желательно будет классический костюм со светлой рубашкой.</p>
        <p>Девушки, просим избегать белых и кипельно-белых оттенков.</p>
    </section>

    <!-- Program -->
    <section class="program">
        <h3>WEDDING PROGRAM</h3>
        <ul>
            <li><strong>15:00–15:30</strong> | Сбор гостей</li>
            <li><strong>15:30–16:00</strong> | Церемония</li>
            <li><strong>16:00–18:00</strong> | Прогулка</li>
            <li><strong>18:00–21:00</strong> | Ужин</li>
            <li><strong>21:00–22:00</strong> | Party & Фейерверк</li>
        </ul>
    </section>
</div>