<div class="wedding-container">

    <!-- Banner -->
    <section class="banner">
        <div class="w-full h-full flex items-center justify-center">
            <div class="flex flex-col justify-between h-full py-[48px]  text-center ">
                <div></div>
                <!-- <span class="text-[34px] font-bold">WEDDING DAY</span> -->
                <div class="flex flex-col items-center justify-center">
                    <!-- line height just 14px -->
                    <span class="text-[42px] font-['AlexBrush']">Trung Nguyên</span>
                    <span class="text-[24px] leading-[12px] font-['AlexBrush']">and</span>
                    <span class="text-[42px] font-['AlexBrush']">Phương Vi</span>
                </div>
                <span class="md:text-[28px] text-[20px] font-['LibertinusMono']">02 ·08 ·2025</span>
            </div>
        </div>

    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-center justify-evenly bg-banner-image" id="wedding-images">
        <img src="/assets/images/image-wedding-left.jpg" class="w-[45%] md:w-[36%] child-image left animate" [class.animate]="animated" alt="" />
        <img src="/assets/images/image-wedding-right.jpg" class=" w-[45%] md:w-[36%] child-image right animate" alt="" [class.animate]="animated"/>
    </div>

    <!-- Invitation -->
    <section class="invitation">
        <div class="flex items-center justify-center gap-2">
            <span class="text-[28px]">SAVE</span>
            <span class="text-[20px] font-['MySoul']">the</span>
            <span class="text-[28px]">DATE</span>
        </div>
        <div class="flex items-center justify-center py-2">
            <div class="w-[0.5px] h-[85px] bg-[#256c3a]"></div>
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Trân trọng kính mời Quý Khách</span>
            <span class="text-[14px]">Đến dự lễ thành hôn của chúng tôi tại</span>
        </div>
        <div class="w-1 h-[25px]"></div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Nhà hàng hội nghị tiệc cưới</span>
            <span class="text-[32px]">PLEIKU PALACE</span>
        </div>
        <!-- <div class="w-1 h-[15px]"></div> -->
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Đại sảnh (tầng 2)</span>
            <span class="text-[14px]">03 Nguyễn Tất Thành, Phường Pleiku, Gia Lai</span>
        </div>
        <div class="w-1 h-[25px]"></div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[22px]">Thứ Bảy | 17:00 | 02.08.2025</span>
            <span class="text-[14px]">(Nhằm Ngày 09 Tháng 06 Năm Ất Tỵ)</span>
        </div>
        <div class="flex items-center justify-center py-2">
            <div class="w-[0.5px] h-[85px] bg-[#256c3a]"></div>
        </div>
        <div class="flex items-center justify-center">
            <span class="text-[36px] font-['Allura']">Welcome !</span>
        </div>
    </section>

    <!-- Dress Code -->
    <section class="flex flex-col items-center justify-center dress-code">
        <div class="flex flex-col items-center justify-center gap-2 p-[20px] sub-dress-code">
            <span class="text-[28px] mb-4">DRESS CODE</span>
            <span class="text-[14px] leading-[8px]">Để thêm phần sang trọng và đồng điệu, </span>
            <span class="text-[14px] text-center mb-5">mình mong mọi người sẽ cùng diện trang phục theo Dress Code sau:</span>
            <div class="color-palette p-3 rounded-lg">
                <span class="color color-1"></span>
                <span class="color color-2"></span>
                <span class="color color-3"></span>
                <span class="color color-4"></span>
                <span class="color color-5"></span>
            </div>
        </div>
    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-start justify-center bg-wedding-calendar-image">
        <div class="flex pt-[30px] flex-col items-center justify-center">
            <span class="text-[28px] leading-[20px]">WEDDING</span>
            <span class="text-[28px]">CALENDAR</span>
        </div>
    </div>

    <!-- Calendar -->
    <section class="calendar flex flex-col items-center justify-center gap-2">
        <!-- Generate a calendar and circel the day 2nd -->
        <app-calendar class="w-full"></app-calendar>
    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-start justify-center bg-wedding-time-line-image">
        <div class="flex pt-[30px] flex-col items-center justify-center">
            <!-- <span class="text-[28px] leading-[20px]">WEDDING</span>
            <span class="text-[28px]">CALENDAR</span> -->
        </div>
    </div>

    <section class="program flex flex-col items-center justify-center gap-3">
        <div class="flex justify-center gap-[6px] h-[90px]">
            <span class="text-[38px] font-['AlexBrush'] flex items-start">best</span>
            <span class="text-[38px] font-['AlexBrush'] flex items-center">day</span>
            <span class="text-[38px] font-['AlexBrush'] flex items-end">ever</span>
        </div>
        <div class="flex flex-col items-center justify-center gap-4 w-[75%]">
            <div class="flex gap-[24px] items-center w-full justify-center">
                <img class="w-[40px] h-[40px]" src="../assets/images/love-letter.png" alt="" />
                <div class="flex w-[60px] items-center">
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                    <div class="w-full h-[1.5px] bg-[#256c3a]"></div>
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                </div>
                <div class="flex flex-col items-left w-[120px]">
                    <span class="text-[16px]">17:00</span>
                    <span class="text-[16px]">Đón khách</span>
                </div>
            </div>
            <div class="flex gap-[24px] items-center w-full justify-center">
                <img class="w-[40px] h-[40px]" src="../assets/images/wedding-ring.png" alt="" />
                <div class="flex w-[60px] items-center">
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                    <div class="w-full h-[1.5px] bg-[#256c3a]"></div>
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                </div>
                <div class="flex flex-col items-left w-[120px]">
                    <span class="time">18:00</span>
                    <span class="description">Lễ cưới</span>
                </div>
            </div>
            <div class="flex gap-[24px] items-center w-full justify-center">
                <img class="w-[40px] h-[40px] text-[#256c3a]" src="../assets/images/drinking.png" alt="" />
                <div class="flex w-[60px] items-center">
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                    <div class="w-full h-[1.5px] bg-[#256c3a]"></div>
                    <div class="min-w-[6px] h-[6px] rounded-full bg-[#256c3a]"></div>
                </div>
                <div class="flex flex-col items-left w-[120px]">
                    <span class="time">18:30</span>
                    <span class="description">Nhập tiệc</span>
                </div>
            </div>
            <!-- <div class="flex items-left gap-[8px]">
                <span class="time">17:00</span>
                |
                <span class="description">Đón tiếp khách mời</span>
            </div>
            <div class="flex items-left gap-[8px]">
                <span class="time">18:00</span>
                |
                <span class="description">Lễ cưới</span>
            </div>
            <div class="flex items-left gap-[8px]">
                <span class="time">18:30</span>
                |
                <span class="description">Nhập tiệc</span>
            </div> -->
        </div>
    </section>

    <div class="w-full h-[40vh] md:h-[60vh] flex items-center justify-center bg-conclusion-image">
        <div class="flex bg-[rgb(255,255,255,0.5)] p-[20px] flex-col items-center justify-center">
            <img src="/assets/images/conclusion-inside.jpeg" class="h-[45vh] md:h-[55vh]" alt="TN&PV" /> 
        </div>
    </div>

    <div class="wedding-footer h-[55vh] flex flex-col justify-center related">
        <div class="h-[0px] w-full flex items-center justify-center gap-[12px] mb-[70px]">
            <span class="text-[200px] leading-[200px] opacity-[0.8]">D</span>
            <span class="text-[200px] leading-[200px] opacity-[0.8]">E</span>
        </div>
        <div class="h-[200px] w-full flex items-center justify-center gap-[12px]">
            <span class="text-[200px] leading-[200px] opacity-[0.8]">A</span>
            <span class="text-[200px] leading-[200px] opacity-[0.8]">R</span>
        </div>
        <div class="flex flex-col items-start justify-center h-[calc(60vh-200px)] w-full p-[20px] gap-[12px]">
            <span class="text-[14px]">Ngày vui trọn sẽ trọn vẹn hơn với sự hiện diện quý báu của quý vị và gia đình. Chúng tôi chân thành mong được đón tiếp quý vị trong dịp đặc biệt này. Để cùng chứng kiến và chia sẽ những khoảnh khắc hạnh phúc với chúng tôi.</span>
            <span class="text-[14px]">Chân trọng kính mời!</span>
        </div>
    </div>
</div>

<div id="temp" class="invisible"></div>