<div class="wedding-container">

    <!-- Banner -->
    <section class="banner">
        <div class="w-full h-full flex items-center justify-center">
            <div class="flex flex-col justify-between h-full py-[48px]  text-center ">
                <div></div>
                <!-- <span class="text-[34px] font-bold">WEDDING DAY</span> -->
                <div class="flex flex-col items-center justify-center">
                    <!-- line height just 14px -->
                    <span class="text-[42px] font-['AlexBrush']">Phương Vi</span>
                    <span class="text-[24px] leading-[12px] font-['AlexBrush']">and</span>
                    <span class="text-[42px] font-['AlexBrush']">Trung Nguyên</span>
                </div>
                <span class="md:text-[28px] text-[20px] font-['LibertinusMono']">02 ·08 ·2025</span>
            </div>
        </div>

    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-center justify-evenly bg-banner-image" id="wedding-images">
        <img src="/assets/images/image-wedding-left.jpg" class="w-[45%] md:w-[36%] child-image left animate" [class.animate]="animated" alt="" />
        <img src="/assets/images/image-wedding-right.jpg" class=" w-[45%] md:w-[36%] child-image right animate" alt="" [class.animate]="animated"/>
    </div>

    <!-- Invitation -->
    <section class="invitation">
        <div class="flex items-center justify-center gap-2">
            <span class="text-[28px]">SAVE</span>
            <span class="text-[20px] font-['MySoul']">the</span>
            <span class="text-[28px]">DATE</span>
        </div>
        <div class="flex items-center justify-center py-2">
            <div class="w-[0.5px] h-[85px] bg-[#256c3a]"></div>
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Trân trọng kính mời Quý Khách</span>
            <span class="text-[14px]">Đến dự lễ thành hôn của chúng tôi tại</span>
        </div>
        <div class="w-1 h-[25px]"></div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Nhà hàng hội nghị tiệc cưới</span>
            <span class="text-[32px]">PLEIKU PALACE</span>
        </div>
        <!-- <div class="w-1 h-[15px]"></div> -->
        <div class="flex flex-col items-center justify-center">
            <span class="text-[14px]">Đại sảnh (tầng 2)</span>
            <span class="text-[14px]">03 Nguyễn Tất Thành, Phường Pleiku, Gia Lai</span>
        </div>
        <div class="w-1 h-[25px]"></div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-[22px]">Thứ Bảy | 17:00 | 02.08.2025</span>
            <span class="text-[14px]">(Nhằm Ngày 09 Tháng 06 Năm Ất Tỵ)</span>
        </div>
        <div class="flex items-center justify-center py-2">
            <div class="w-[0.5px] h-[85px] bg-[#256c3a]"></div>
        </div>
        <div class="flex items-center justify-center">
            <span class="text-[36px] font-['Allura']">Welcome !</span>
        </div>
    </section>

    <!-- Dress Code -->
    <section class="flex flex-col items-center justify-center dress-code">
        <div class="flex flex-col items-center justify-center gap-2 p-[20px] sub-dress-code">
            <span class="text-[28px] mb-4">DRESS CODE</span>
            <span class="text-[14px] leading-[8px]">Để thêm phần sang trọng và đồng điệu, </span>
            <span class="text-[14px] text-center mb-5">mình mong mọi người sẽ cùng diện trang phục theo Dress Code sau:</span>
            <div class="color-palette p-3 rounded-lg">
                <span class="color color-1"></span>
                <span class="color color-2"></span>
                <span class="color color-3"></span>
                <span class="color color-4"></span>
                <span class="color color-5"></span>
            </div>
        </div>
    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-start justify-center bg-wedding-calendar-image">
        <div class="flex pt-[30px] flex-col items-center justify-center">
            <span class="text-[28px] leading-[20px]">WEDDING</span>
            <span class="text-[28px]">CALENDAR</span>
        </div>
    </div>

    <!-- Calendar -->
    <section class="calendar flex flex-col items-center justify-center gap-2">
        <!-- Generate a calendar and circel the day 2nd -->
        <app-calendar class="w-full"></app-calendar>
    </section>

    <div class="w-full h-[50vh] md:h-[60vh] flex items-start justify-center bg-wedding-time-line-image">
        <div class="flex pt-[30px] flex-col items-center justify-center">
            <!-- <span class="text-[28px] leading-[20px]">WEDDING</span>
            <span class="text-[28px]">CALENDAR</span> -->
        </div>
    </div>

    <section class="program flex flex-col items-center justify-center gap-2">
        <span class="text-[22px] font-['Madelican']">best day ever</span>
        <div class="flex flex-col items-left gap-2">
            <div class="flex items-left gap-[8px]">
                <span class="time">17:00</span>
                |
                <span class="description">Đón tiếp khách mời</span>
            </div>
            <div class="flex items-left gap-[8px]">
                <span class="time">18:00</span>
                |
                <span class="description">Lễ cưới</span>
            </div>
            <div class="flex items-left gap-[8px]">
                <span class="time">18:30</span>
                |
                <span class="description">Nhập tiệc</span>
            </div>
        </div>
    </section>
</div>