.wedding-container {
  color: #256c3a;
  line-height: 1.6;
  max-width: 768px;
  margin: 0 auto;
  padding: 12px;
  background: #faf9f6;
}

.banner {
  background-image: url('../assets/background/bg-dark-green.jpg');
  background-size: cover;
  height: 50vh;
  position: relative;
  color: #daf4db;

  .notice-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;

    .title {
        font-size: 32px;
    }
  }
}

.bg-banner-image {
  background-image: url('../assets/images/background-banner.JPG');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

  .child-image {
    position: absolute;
    top: 50%;
    border-radius: 0px;
    object-fit: cover;
    transform: translateY(-50%);
    transition: transform 3s ease;

    &.left {
      left: 0;
      transform: translate(-70%, -50%);

      &.animate {
        transform: translate(10px, -50%);
      }
    }

    &.right {
      right: 0;
      transform: translate(70%, -50%);

      &.animate {
        transform: translate(-10px, -50%);
      }
    }
  }
}

.bg-wedding-calendar-image {
  background-image: url('../assets/images/bg-wedding-calendar.jpg');
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.bg-wedding-time-line-image {
  background-image: url('../assets/images/image-time-line.jpeg');
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.bg-conclusion-image {
  background-image: url('../assets/images/conclution-container.jpeg');
  height: 65vh;
  background-size: cover;
  background-position: center;

  .bg-conclusion-inside {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/conclusion-inside.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    font-size: 24px;
    font-weight: bold;
  }
}

.invitation, .program {
  // margin: 40px 0;
  padding: 20px;
  background: white;
  background-image: url('../assets/background/bg-green-2.jpg');
  background-size: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.wedding-footer {
  background: white;
  background-image: url('../assets/background/bg-green-2.jpg');
  background-size: cover;
}

.calendar {
  background-image: url('../assets/background/bg-dark-green.jpg');
  background-size: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color: #daf4db;
}

.dress-code {
  // margin: 40px 0;
  padding: 20px;
  background: white;
  background-image: url('../assets/background/bg-dark-green.jpg');
  background-size: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  .sub-dress-code {
    background-image: url('../assets/background/bg-green-2.jpg');
    // background: #fafafa;
  }
}

.color-palette {
  display: flex;
  gap: 10px;
  margin: 10px 0;

  .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
  }

  .color-1 { background-color: #000000; }
  .color-2 { background-color: #fbfbfb; }
  .color-3 { background-color: #deb4a5; }
  .color-4 { background-color: #d46b9c; }
  .color-5 { background-color: #7fc1ee; }
}

.program ul {
  padding: 0;
  list-style: none;

  li {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}
